.dropdown {
  position: relative;
  z-index: 99;
}

.dropdown-toggle {
  border: 0;
  outline: 0;
  background-color: transparent;
  position: relative;
}

.dropdown-toggle > i {
  font-size: 2rem;
  color: var(--txt-color);
}

.dropdown-toggle-badge {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -12px;
  right: -10px;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  background-color: var(--primary-color);
  color: var(--txt-white);
  font-size: 0.8rem;
}

.dropdown-menu-content {
  position: absolute;
  top: calc(100% + 5px);
  right: 0;
  width: max-content;
  max-width: 400px;
  background-color: var(--primary-bg);
  box-shadow: var(--box-shadow);
  border-radius: var(--border-radius);
  overflow: hidden;
  transform-origin: top right;
  transform: scale(0);
  transition: transform 0.3s ease 0s;
}

.dropdown-menu-content.active {
  transform: scale(1);
  transition: transform 0.5s var(--transition-cubic);
}

.dropdown-menu-footer {
  padding: 20px;
  text-align: center;
}
