@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

/* ============ Variables ================== */
:root {
  --primary-bg: #ffffff;
  --secondary-bg: #fafafb;
  --secondary-bg: #f9f9f9;
  --txt-color: #455560;
  --txt-white: #fff;

  --primary-color: #14a2b6;
  --secondary-color: #50a3ae;

  --main-bg-light: #ffffff;
  --second-bg-light: #fafafb;
  --txt-color-light: #455560;
  --box-shadow-light: rgba(149, 157, 165, 0.2) 0px 8px 24px;

  --main-bg-dark: #2d2d2d;
  --second-bg-dark: #202020;
  --txt-color-dark: #bbbbbb;
  --box-shadow-dark: rgba(0, 0, 0, 0.2) 0px 5px 10px;

  --main-color-blue: #14a2b6;
  --second-color-blue: #50a3ae;

  --main-color-red: #ce2626;
  --second-color-red: #ca4949;

  --main-color-purple: #8d3895;
  --second-color-purple: #b757bf;

  /* --main-color-green: #05cc58;
  --second-color-green: #49da85; */

  --main-color-green: #519a77;
  --second-color-green: #309765;

  --main-color-orange: #f48221;
  --second-color-orange: #eb9a53;

  --box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

  --sidebar-width: 300px;
  --border-radius: 15px;
  --topnav-height: 80px;
  --transition-cubic: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

/* ============ Global Styles ================== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  letter-spacing: 0.7px;
}

a {
  text-decoration: none;
  color: unset;
}

a:hover {
  color: var(--primary-color);
}

input {
  border: 2px solid transparent;
  outline: 0;
}

input:focus {
  border: 2px solid var(--primary-color);
}

button {
  cursor: pointer;
  border: 0;
  outline: 0;
  color: var(--txt-color);
}

ul {
  list-style-type: none;
}

/* ============ Layout Styles ================== */
.layout {
  color: var(--txt-color);

}



.layout-content {
  margin-left: var(--sidebar-width);
  background-color: var(--secondary-bg);
  min-height: 100vh;
}


.layout-main {
  padding: 30px;
}

.page-header {
  margin-bottom: 40px;
  text-transform: capitalize;
}

.card {
  padding: 30px;
  /* margin-bottom: 30px; */
  background-color: var(--primary-bg);
  box-shadow: var(--box-shadow);
  border-radius: var(--border-radius);
}

.full-height {
  height: 100%;
}

.card.full-height {
  height: calc(100% - 20px);
}

.card-header {
  text-transform: capitalize;
}
.card > div ~ div {
  margin-top: 30px;
}

.card-footer {
  text-align: center;
  text-transform: capitalize;
}

.light-background {
  background-color: var(--main-bg-light);
  color: #000;
}

.dark-background {
  background-color: var(--main-bg-dark);
  color: #fff;
}

.blue-color {
  background-color: var(--main-color-blue);
  color: #fff;
}

.red-color {
  background-color: var(--main-color-red);
  color: #fff;
}

.purple-color {
  background-color: var(--main-color-purple);
  color: #fff;
}

.green-color {
  background-color: var(--main-color-green);
  color: #fff;
}

.orange-color {
  background-color: var(--main-color-orange);
  color: #fff;
}

@media only screen and (max-width: 420px) {
  .layout {
    display: flex;
    flex-direction: column !important;
    flex-direction: column;
  }
  .layout-content{
    margin-left: 0;
    
  }
}
/* 
   
  
  */

  .error-page{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }

  .create{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-top:100px;
  }
  
  .formCreate{
    background-color: var(--primary-bg);
  }
  @media only screen and (max-width: 420px) {
    .create{
      flex-direction: column;
    }
  }